<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OBS_Remote.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OBS_Remote.My.MySettings>
            <setting name="FormObsTop" serializeAs="String">
                <value />
            </setting>
            <setting name="FormObsLeft" serializeAs="String">
                <value />
            </setting>
            <setting name="Form1Top" serializeAs="String">
                <value />
            </setting>
            <setting name="Form1Left" serializeAs="String">
                <value />
            </setting>
            <setting name="MyIP" serializeAs="String">
                <value />
            </setting>
            <setting name="MyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="MyExe" serializeAs="String">
                <value />
            </setting>
        </OBS_Remote.My.MySettings>
    </userSettings>
</configuration>